extends ../layout

include ../feedback/index

mixin artists(artists)
  ul
    each val in artists
      li
        form(method='POST', action='/search')
          button(class='uk-button uk-button-default' type='submit' name='artist' value=val.id)= val.name
          if (val.images[0])
            img(src=val.images[0].url width='200px')

mixin albums(albums)
  ul
    each val in albums
      li
        form(method='POST', action='/search')
          button(type='submit' name='album' value=val.id)= val.name

mixin tracks(tracks)
  ul
    each val in tracks
      li
        audio(controls='')
          source(src=`${val.preview_url}.`, type='audio/mpeg', controls='')
        span= `${val.duration_ms} - ${val.name}`

block content
    section.home
      h2
        span.home__title= `Welcome ${name}!`
      form(action='/logout', method='POST')
        button(class='uk-button uk-button-danger login__button', type='submit') Logout
      if feedback
        +feedback(feedback, 'error')
      section.search
        form(class='search__form uk-search uk-search-large' method='POST', action='/search')
          button(uk-search-icon, class='search__form__button uk-search-toggle', type='submit')
          input(class='search__form__input uk-search-input', type='text', name='query', placeholder='Search an artist...')
      if artists
        +artists(artists)
      if albums
        +albums(albums)
      if tracks
        +tracks(tracks)


//-         <div class="uk-margin">
//-     <form class="uk-search uk-search-default">
//-         <a href="" uk-search-icon></a>
//-         <input class="uk-search-input" type="search" placeholder="Search...">
//-     </form>
//- </div>


//- <form class="uk-search uk-search-large">...</form>

//- <a class="uk-search-toggle" href="" uk-search-icon></a>